* {
    /* height & width now includes border & padding */
    box-sizing: border-box;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    width: 100%;
    background-image: url('../resources/images/seamless-green-felt-tabletop-bec.png');
}

.flex-ctr {
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    grid-template-rows: 20vmin 0.75fr 20vmin .5fr;
    gap: 2vmin;
    width: 100%;
}

h1 {
    display: flex;
    grid-column: span 3;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 13vmin;
        background: linear-gradient(
        to right, 
        firebrick,
        salmon,
        firebrick
      );
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    /*text-shadow: 0px 0px 5px yellow, 0px 0px 10px white, 0px 0px 15px white, 0px 0px 20px yellow;*/
    /*color: #D4AF37; */
    font-family: 'Alfa Slab One', Merriweather, 'Abril Fatface', cursive;
    font-weight: 100;

}

#dealers-interface {
    display: grid;
    grid-template-columns: 50vmin .25fr;
    grid-template-rows: 20vmin 5vmin;
    gap: 1vmin;
}

#dealers-hand-header {
    grid-column: span 3;
}

#button-row {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    grid-column: span 3;
    grid-template-rows: 7vmin 8vmin;
    text-align: center;
}

#winner-message {
    font-size: 7vmin;
    color: whitesmoke;
}

.play-buttons {
    margin: 1vmin 1vmin;
    padding: 1vmin 5vmin;
    font-size: 2.5vmin;
}

.hand-header {
    font-weight: bold;
    text-align: center;
    font-size: 4vmin;
}

.current-hand {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.current-hand div:not(:first-child) {
    margin-left: -5vmin;
    margin-top: 1vmin;
}

.current-hand div:nth-child(3) {
    margin-left: -5vmin;
    margin-top: 2vmin;
}

.current-hand div:nth-child(4) {
    margin-left: -5vmin;
    margin-top: 3vmin;
}

.current-hand div:nth-child(5) {
    margin-left: -5vmin;
    margin-top: 4vmin;
}

#dealers-interface, #players-hand-column {
    color: whitesmoke;
}

#money-info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 1fr;
    position: fixed;
    bottom: 0;
    left: 0;
}

#bet-buttons {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#bet-total, #bank-total, #bank, #current-bet {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#bank, #current-bet {
    background-color: black;
    color: white;
    font-weight: bold;
}

#bet-total, #bank-total {
    background-color: white;
}

#bet-buttons > button {
    font-size: 2vmin;
    margin: 1vmin 1vmin;
}

#players-hand-column {
    display: grid;
    height: 100%;
    grid-template-columns: 50vmin .25fr;
    grid-template-rows: 1fr 20vmin 5vmin;
    gap: 1vmin;
}

#players-hand-header {
    grid-column: span 2;
}

#chips {
    grid-column: span 2;
}

#hit-stand {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hit-stnd-btn {
    margin: 2vmin 7vmin;
    font-size: 4vmin;
    height: 6vmin;
    width: 50%;

} 
 
button {
    border-radius: 3vmin;
    background-color: firebrick;
    /* margin: 2vmin 7vmin;
    padding: 2vmin; */
}

button:hover {
    background-color: steelblue;
}